{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section mx-auto bg-white p-3 rounded">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center"> Update profile </legend>
                {{ user_form | crispy }}
                {{ profile_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock content %}